h1{font-family: Arial;color: A5B452}
h1{text-align: center;}
h2{text-align: center;}
h3{text-align: center;}
h2{font-family: Arial;color: A5B452}
p{font-family: Oswald;color: C8D96F}
p{text-align: center;}
a{color: C4F7A1}
a{text-decoration: none;}
body{background-color: 5C573E}
img{margin: 0 auto; display:block;}